body{
    background-image:url(img2.jpg);
    background-size: 1100px;
    
}
h1{
    text-align: center;
}
nav{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-around;
}
nav a{
    color:white;
    text-decoration: none;
}
nav img{
    width: 70px;
}
strong{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    }
h1,p,label{
    color: white;
}


form{
    margin-left: 420px;
}

input{
    background-color: bisque;
    border-radius: 15px;
    border-style: none;
    
}
footer{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 5px 0 5px 0;
    text-align: center;
}
footer a{
    color: white;
}